*{
	margin:0;
	padding:0;
	text-decoration:none;
	box-sizing:border-box;
}
/*
body{
	background-color:white;
	font-family:Geneva,Tahoma,san-serif;
	color:#323232;
	line-height:1.3;
	text-align:center;
	height:100%;
}
.logo{
	float:left;
	position:relative;
	font:normal 25px cursive;
	color:white;
	text-shadow:-1px 1px 2px black;
	text-decoration:none;
	cursor:pointer;
	border:none;
}
.logo img{
	width:60px;
	height:60px;
	margin-right:auto;
}

.menubtn{
	display:none;
}
header{
	display:none;
	justify-content:space-between;
	color:white;
	padding:0.5em;
	background:transparent;
    position:relative;
	text-align:left;
	text-shadow:-1px 1px 2px black;
}

.menu-list{
	float:right;
	background:transparent;
	text-align:center;
	position:relative;
	list-style-type:none;
	transition:all 0.5s ease;
}
.menu-list li{
	border-radius:20px;
	display:inline-block;
	padding:0.2em 0.1em;
	margin:0.3em;
	border-radius:22px;
	text-decoration:none;
	transition:all 0.5s ease;
	cursor:pointer;
}
.link{
	color:#fff;
	text-decoration:none;
	font:normal 20px trebuchet ms !important;
	padding:0em;
}

.menu-list li:hover{
	color:#0f89f0;
}
  

#infocard{
	float:left;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	position: fixed;
	width:25%;
	height:100%;
	padding:1em;
	background:white;
	text-align:center !important;
}
#infocard .name{
	text-align:center;
	position:relative;
	font:bold 30px trebuchet ms !important;
	color:#333;
	text-decoration:none;
	cursor:pointer;
	border:none;
}
#infocard ul{
	margin-left:10%;
}
#infocard li{
	display:block;
	padding:0.3em;
	margin:0.5em;
	border-radius:2px;
	text-decoration:none;
	cursor:pointer;
	transition:all 0.5s ease;
}
#infocard a{
	color:#333;
	text-decoration:none;
	font:normal 23px trebuchet ms !important;
	padding:0em;
}
#infocard p{margin:0 9em;}
#infocard li:hover{
	background:#0f89f0;
}
#infocard li:hover #infocard a{
	color:white;
	text-shadow:-1px 1px 2px black;
}
@keyframes heading{
	0% {top: 500px;opacity: 0}
	100% {top: 100px;opacity: 1}
}
h1{
	font-size:32px;}
h2{
	font-size:25px;}
h3{
	font:bold 23px tahoma !important;
	color:#0b62ad;
	border-right:none !important;
}
h4{
	font-size:17px;
}
h5{ 
	font-size:15px;
	margin:0.2em;
	color:#0068de;
}
main{
	width:75%;
	float:right;
}*/

body{
	background:url('images/red blue wall.jpg')center no-repeat;
	background-size:cover;
	background-position:fixed;
	font-family:Geneva,Tahoma,san-serif;
	color:#323232;
	line-height:1.3;
	text-align:center;
	width:100%;
	height:100%;
}
#showcase{
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.1);
	overflow:auto;
}
.logo{
	float:left;
	position:relative;
	font:normal 25px cursive;
	color:white;
	text-shadow:-1px 1px 2px black;
	text-decoration:none;
	cursor:pointer;
	border:none;
	padding:1em;
}
.logo img{
	width:60px;
	height:60px;
	margin-right:auto;
}

.menubtn{
	display:none;
}
header{
	display:none;
	justify-content:space-between;/*flex-end*/
	color:white;
	padding:0.5em;
	background:transparent;
    position:relative;
	text-align:left;
	text-shadow:-1px 1px 2px black;
}

.menu-list{
	float:right;
	background:transparent;
	text-align:center;
	position:relative;
	list-style-type:none;
	transition:all 0.5s ease;
}
.menu-list li{
	border-radius:20px;
	display:inline-block;
	padding:0.2em 0.1em;
	margin:0.3em;
	border-radius:22px;
	text-decoration:none;
	transition:all 0.5s ease;
	cursor:pointer;
}
.link{
	color:#fff;
	text-decoration:none;
	font:normal 20px trebuchet ms !important;
	padding:0em;
}

.menu-list li:hover{
	color:#0f89f0;
}
#showcase #social button{
	width:56px;
	height:56px;
	background:transparent;
	padding:0 !important;
	margin:0px ;
	margin-top:2em;
	align-items:center;
	border:none;
	transform:scale(1.3,1.3);
	}

#showcase #social img{
	width:100%;
	margin:0;
	padding:0;
	border-bottom:solid 1px white;
}
#social button:hover{
	transform:scale(1.2,1.2);
}

#infocard{
	float:left;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;/*flex-end*/
	position: fixed;
	width:25%;
	height:100%;
	padding:0em;
	background:transparent;
	text-align:center !important;
}
#infocard .name{
	text-align:center;
	position:relative;
	font:bold 30px trebuchet ms !important;
	color:white;
	text-decoration:none;
	cursor:pointer;
	border:none;
}
#infocard ul{
	margin-left:10%;
	padding:1em;
}
#infocard li{
	display:block;
	padding:0.3em;
	margin:0.5em;
	border-radius:2px;
	text-decoration:none;
	cursor:pointer;
	transition:all 0.5s ease;
}
#infocard a{
	color:white;
	text-decoration:none;
	font:normal 23px trebuchet ms !important;
	padding:0em;
}
#infocard p{margin:0 9em;}
#infocard li:hover{
	background:#0f89f0;
}
#infocard li:hover #infocard a{
	color:white;
	text-shadow:-1px 1px 2px black;
}
@keyframes heading{
	0% {top: 500px;opacity: 0}
	100% {top: 100px;opacity: 1}
}
h1{
	font-size:32px;}
h2{
	font-size:25px;}
h3{
	font:bold 23px tahoma !important;
	color:#0b62ad;
	border-right:none !important;
}
h4{
	font-size:17px;
}
h5{ 
	font-size:15px;
	margin:0.2em;
	color:#0068de;
}
main{
	width:75%;
	float:right;
	position:relative;
	top:700px;
}
article{
	padding:0.1em;
	margin:2.5em 0;
}
article img{
	width:48%;
	margin:0.1em;
	object-fit:cover;
}

article section{
	width:45%;
	margin:0.5em;
	display:inline-block;
	border-radius:7px;
}
article p{
	padding:1em 7em;
}
section p{
	display:block;
	clear:both;
	padding:0em;
	text-align:left !important;
}
#social{display:block;
	   padding:0px;
	   position:relative;
	   align-self:center;
	   margin:0px;}
#social a{
	text-decoration:none;
	padding:0px !important;
	margin:0px !important;
	background:transparent;
}

#social button{
	width:35px;
	height:35px;
	background:transparent;
	border-radius:50%;
	padding:0 0 !important;
	margin:5px 0 !important;
	align-items:center;
	border:none;
	}

#social img{
	width:110%;
	margin:0;
	padding:0;
}
#social button:hover{
	transform:scale(1.2,1.2);
}
footer{
	background:white;
	display:block;
	width:100%;
	text-align:center;
	padding-top:3px;
	font-size:12px;
	margin:0px;
	z-index:3;
}
footer p{
	font:normal 15px arial;
	color:#252a2f;
	line-height:1.6;
	padding:0.3em;
}

@media screen and (max-width:780px){
	#infocard{
		width:35%;
		padding:0.5em;
	}
	main{
		width:65%;
	}
	
	article img{
		width:99%;
		margin:0.1em;
	}
	
	article section{
		width:40% !important;
		margin:0.5em;
	}
	
	.form{
		width:90%;
		height:15%;
		font-size:16px;
	}
	
}

@media screen and (max-width:600px){
	#infocard{
		display:none;
	}
	main{
		width:100%;
		margin-top:4em;
	}
	article{
		margin:0;
		padding:0.1em;
		padding-top:4.3em !important;
	}
	article img{
		width:100%;
		margin:0.1em;
	}
	.navbar_collapse{height:245px !important;}
	#showcase p{margin:1em;}
	.name{
		float:left;
		text-align:center;
		position:relative;
		font:bold 25px trebuchet ms !important;
		color:#333;
		text-decoration:none;
		text-shadow:none;
		cursor:pointer;
		border:none;
	}
	header{
		display:block;
		background:white;
		position:fixed;
		width:100%;
		padding:0.1em;
		border-bottom:solid 1px black;
		z-index:3;
	}
	
	.menubtn{
		display:block;
		float:right;
		margin:5px;
		background:transparent;
		border:solid 1px #084d68;
		border-radius:5px;
		cursor:pointer;
	}
	.bar1,.bar2,.bar3{
		width:30px;
		height:5px;
		margin:0.5rem;
		background:rgba(0,136,169,1);
		transition:all 0.5s ease;
	}
	.change .bar1{transform:rotate(-45deg) translate(-10px,10px)}
	.change .bar2{opacity:0;}
	.change .bar3{transform:rotate(45deg) translate(-8px,-8px)}
	
	
	.menu-list{
		display:block;
		float:right;
		width:100%;
		height:0;
		margin:0;
		border-radius:6px;
		overflow:hidden;
		list-style-type:none;
		transition:all 0.5s ease;
		z-index:3;
	}
	.menu-list li{
		display:block;
		padding:0;
		margin:0;
	    background:#333;
	    border-radius:0px;
	    padding:12px;
	    margin:0px;
		transition:all 1s ease;
	}
	.link:hover{
		color:gold;
	}
	.link{
		font-size:20px !important;
		color:white;
	    text-shadow:-1px 1px 2px #333;
		cursor:pointer;
		text-decoration:none;
		z-index:3;
	}
	.collection{
	    background:rgba(0,136,169,1);
		font-size:20px !important;
		color:white;
	    padding:6px;
	    text-shadow:-1px 1px 2px #333;
		cursor:pointer;
		text-decoration:none;
		overflow:auto;
		z-index:3;
	}
	.collection li{
		display:inline-block;
		padding:0;
		margin:0 !important;
	    background:rgba(0,136,169,1);
	    border-radius:0px;
	    padding:4px;
	    border-left:solid 1px white;
		transition:all 1s ease;
	}
	.collection li:hover{
		background:#0f89f0;
	}
	
	article{
		margin:0.4em;
		padding:0.1em;
	}
	article section{
		width:97% !important;
	}
	article p{
		padding:0.3em;
	}
	section p{
		padding:0.3em;
	}
}