*{
	margin:0;
	padding:0;
	text-decoration:none;
	box-sizing:border-box;
}
body{
	background:url('images/photographer.jpg')center no-repeat;
	background-size:cover;
	font-family:Geneva,Tahoma,san-serif;
	color:#323232;
	line-height:1.3;
	text-align:center;
	height:100%;
}
#showcase{
	height:90%;
	background:rgba(0,0,0,0.1);
}
.floating{float:left;}

#infocard{
	float:left;
	margin-left:4em;
	padding:1em;
	text-align:center;
	text-shadow:-1px 1px 2px black;
	position: relative;
	animation: heading;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

#infocard .name{
	text-align:center;
	position:relative;
	font:bold 40px trebuchet ms !important;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
	border:none;
}
#infocard li{
	display:block;
	background:rgb(0,0,0,0.2);
	padding:0.6em;
	margin:0.5em;
	border-radius:2px;
	border:solid 2px white;
	box-shadow:1px 1px 1px 1px #333;
	text-decoration:none;
	cursor:pointer;
	transition:all 0.5s ease;
}
#infocard a{
	color:#fff;
	text-decoration:none;
	text-shadow:-1px 1px 2px black;
	font:normal 23px trebuchet ms !important;
	padding:0em;
}
#infocard p{margin:0 9em;}
#infocard li:hover{
	background:#0b7ad8;
	border:solid 2px #0b7ad8;
}
#infocard li:hover #infocard a{
	color:white;
	text-shadow:-1px 1px 2px black;
}
@keyframes heading{
	0% {top: 500px;opacity: 0}
	100% {top: 100px;opacity: 1}
}
#headimg{
	display:none;
}

#social{display:block;
	   padding:0px;
	   position:relative;
	   align-self:center;
	   margin:0px;}
#social a{
	text-decoration:none;
	padding:0px !important;
	margin:0px !important;
	background:transparent;
}

#social button{
	width:50px;
	height:50px;
	background:transparent;
	border-radius:50%;
	padding:0 0 !important;
	margin:5px 0 !important;
	align-items:center;
	border:none;
	}

#social img{
	width:110%;
	margin:0;
	padding:0;
}
#social button:hover{
	transform:scale(1.2,1.2);
}

footer{
	background:rgba(0,0,0,0.2);
	display:block;
	width:100%;
	text-align:center;
	padding-top:3px;
	margin:0px;
	z-index:3;
}
footer p{
	font:bold 16px arial;
	color:white;
	line-height:1.6;
	padding:0.3em;
	text-shadow:-1px 1px 2px black;
}


@media screen and (max-width:600px){
	
	body{
		background:transparent;
		font-family:Geneva,Tahoma,san-serif;
		color:#323232;
		line-height:1.3;
		text-align:center;
		height:100%;
	}
	#showcase{
		background:black;
		height:50%;
		background:rgba(0,0,0,0.1);
	}
	#headimg{
		display:block;
	}
	img{
		width:100%;
		margin:0em;
	}
	#infocard{
		background:black;
		width:100%;
		float:center;
		margin:0em;
		padding:1em;
		text-align:center;
		text-shadow:-1px 1px 2px black;
		position: relative;
		animation: none;
	}
	#infocard li{
		box-shadow:none;
	}
	#foot{
		background:black;
	}
	#foot p{
		font:normal 15px arial;
	}
}